<section class="home-about-area section-gap relative">
    <div class="container">
        <div class="row align-items-center justify-content-end">
            <div class="col-lg-6 no-padding home-about-right">
                <h1 class="text-white">
                    Health is wealth <br>
                </h1>
                <p>
                    To enjoy good health, to bring true happiness to one's family, to bring peace to all, one must first discipline and control one's own mind. If a man can control his mind he can find the way to Enlightenment, and all wisdom and virtue will naturally come to him.
                </p>
                <div class="row no-gutters">
                    <div class="single-services col">
                        <span class="lnr lnr-diamond"></span>
                        <a href="#">
                            <h4 class="text-white">Health Support</h4>
                        </a>
                        <p>
                            Thousands of candles can be lighted from a single candle, and the life of the candle will not be shortened. Happiness never decreases by being shared.
                        </p>
                    </div>
                    <div class="single-services col">
                        <span class="lnr lnr-phone"></span>
                        <a href="#">
                            <h4 class="text-white">Government Support</h4>
                        </a>
                        <p>
                        Government Schemes
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testomial-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Feedback from our real clients</h1>
                    <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial-carusel">
                <div class="single-testimonial item">
                    <img class="mx-auto" src="assets/switi.jpg" alt="" width="140px" height="300px">
                    <p class="desc">
                        Computer Science Enthusiast
                    </p>
                    <h2>Sweety Mhaiske</h2>
                    <h4>Care Takers</h4>
                    <p>
                        Developer
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="assets/ravi.jpg" alt="" width="140px" height="300px">
                    <p class="desc">
                        Computer Science Enthusiast
                    </p>
                    <h2>Ravikumar Navale</h2>
                    <h4>Care Takers</h4>
                    <p>
                        Developer
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="assets/akshay.jpg" alt="" width="140px" height="300px">
                    <p class="desc">
                        Computer Science Enthusiast
                    </p>
                    <h2>Ak                                                          shay  Patil</h2>
                    <h4>Care Takers</h4>
                    <p>
                        Developer
                    </p>
                </div>
                <!--
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t1.png" alt="">
                    <p class="desc">
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                    </p>
                    <h4>Mark Alviro Wiens</h4>
                    <p>
                        CEO at Google
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t2.png" alt="">
                    <p class="desc">
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                    </p>
                    <h4>Mark Alviro Wiens</h4>
                    <p>
                        CEO at Google
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t3.png" alt="">
                    <p class="desc">
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                    </p>
                    <h4>Mark Alviro Wiens</h4>
                    <p>
                        CEO at Google
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t1.png" alt="">
                    <p class="desc">
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                    </p>
                    <h4>Mark Alviro Wiens</h4>
                    <p>
                        CEO at Google
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t2.png" alt="">
                    <p class="desc">
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                    </p>
                    <h4>Mark Alviro Wiens</h4>
                    <p>
                        CEO at Google
                    </p>
                </div>
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t3.png" alt="">
                    <p class="desc">
                        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                    </p>
                    <h4>Mark Alviro Wiens</h4>
                    <p>
                        CEO at Google
                    </p>
                </div>
            --> 
            </div>
        </div>
    </div>
</section>